{% extends "header.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% set latest_message = messages[-1] %}
        <div class="alert alert-{{ latest_message[0] }} alert-dismissible fade show" role="alert">
            {{ latest_message[1] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endwith %}

<div class="container" id="login" style="padding-bottom: 90px; margin-top: 20px;">
    <div class="row justify-content-center">
        <div class="col-md-8 py-3 py-md-0" id="side1">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center mb-4">Create product</h3>
                    <form method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        
                        <!-- Brand Name -->
                        <div class="form-group mb-3">
                            {{ form.Brand_name.label(class="form-label") }}
                            {{ form.Brand_name(class="form-control") }}
                            {% for error in form.Brand_name.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        
                        <!-- Brand Category -->
                        <div class="form-group mb-3">
                            {{ form.Brand_category.label(class="form-label") }}
                            {{ form.Brand_category(class="form-control") }}
                            {% for error in form.Brand_category.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        
                        <!-- Manufacture Date -->
                        <div class="form-group mb-3">
                            {{ form.M_date.label(class="form-label") }}
                            {{ form.M_date(class="form-control") }}
                            {% for error in form.M_date.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                                                
                        <!-- Image URL -->
                        <div class="form-group mb-3">
                            {{ form.image_url.label(class="form-label") }}
                            {{ form.image_url(class="form-control") }}
                            {% for error in form.image_url.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <!-- Price -->
                        <div class="form-group mb-3">
                            {{ form.price.label(class="form-label") }}
                            {{ form.price(class="form-control", type="number")}}
                            {% for error in form.price.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <!-- Description -->
                        <div class="form-group mb-3">
                            {{ form.description.label(class="form-label") }}
                            {{ form.description(class="form-control") }}
                            {% for error in form.description.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        
                        <!-- Frame (Accessory) -->
                        <div class="form-group mb-3">
                            {{ form.frame.label(class="form-label") }}
                            {{ form.frame(class="form-control") }}
                            {% for error in form.frame.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <!-- Tires (Accessory) -->
                        <div class="form-group mb-3">
                            {{ form.tires.label(class="form-label") }}
                            {{ form.tires(class="form-control") }}
                            {% for error in form.tires.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                       

                        <!-- Brakes (Accessory) -->
                        <div class="form-group mb-3">
                            {{ form.brakes.label(class="form-label") }}
                            {{ form.brakes(class="form-control") }}
                            {% for error in form.brakes.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <!-- Weight (Accessory) -->
                        <div class="form-group mb-3">
                            {{ form.weight.label(class="form-label") }}
                            {{ form.weight(class="form-control") }}
                            {% for error in form.weight.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary w-100">Submit</button>

                    </form>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}
